<div class="container my-5">
  
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #3e4551"
          >

    <div class="container p-4 pb-0">
        <div class="row justify-content-between">
          <div class="col">
              <h5 class="text-uppercase">GARAGE PARROT</h5>
              <p>Spécialiste de l'entretien et réparation automobile.</br>
                A votre service depuis 15 ans.</p>
              <button type="button" class="btn btn-danger " >Contactez nous </br>
               au 04.47.58.47.69</button>
          </div> 
          <div class="col"> 
            <ul class="list-unstyled mb-0">
              <li><p class="text-white">Accueil></li>
              <li><p class="text-white">Occasions</p>
              </li><p class="text-white">Contact</p></li>
            </ul>
          </div>
          <!--Grid column-->
            <div class="col"> 
              <h3>Horaires</h3> 
               
             
            </div>




        </div>
        <!--Grid row-->
      </section>
               
      
      </section>
      
   




    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Copyright:
      <p class="text-white" 
         >Garage PARROT</p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->


