<form method="post" action="{{ path('app_admin_year_delete', {'id': year.id}) }}" onsubmit="return confirm('
Êtes vous sûr?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ year.id) }}">
    <button class="btn">Supprimer</button>
</form>
