{% extends 'base.html.twig' %}

{% block title %}Modifer une année{% endblock %}

{% block body %}
    <h1>Modifer une année</h1>

    {{ include('admin_year/_form.html.twig', {'button_label': 'Modifer'}) }}

    <a href="{{ path('app_admin_year_index') }}">Revenir</a>

    {{ include('admin_year/_delete_form.html.twig') }}
{% endblock %}
