{% extends 'base.html.twig' %}

{% block title %}Créer un client{% endblock %}

{% block body %}
    <h1>Créer un client</h1>

    {{ include('admin_customer/_form.html.twig') }}

    <a href="{{ path('app_admin_customer_index') }}">Revenir</a>
{% endblock %}
