{% extends 'base.html.twig' %}

{% block title %}Créer un modèle{% endblock %}

{% block body %}
    <h1>Créer un modèle</h1>

    {{ include('admin_model/_form.html.twig') }}

    <a href="{{ path('app_admin_model_index') }}">Revenir</a>
{% endblock %}
