<form method="post" action="{{ path('app_admin_energy_delete', {'id': energy.id}) }}" onsubmit="return confirm('Êtes vous sûr ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ energy.id) }}">
    <button class="btn">Supprimer</button>
</form>
