{% extends 'base.html.twig' %}

{% block title %}Créer un horaire{% endblock %}

{% block body %}
    <h1>Créer un horaire</h1>

    {{ include('admin_schedule/_form.html.twig') }}

    <a href="{{ path('app_admin_schedule_index') }}">Retour</a>
{% endblock %}
