{% form_theme form 'foundation_5_layout.html.twig' %}
{# templates/form.html.twig #}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
