{% extends "base.html.twig" %}


{% block title %}VParrot
{% endblock %}

{% block body %}
<div class="container">
    <!-- Content here -->
    <img src="{{ asset('asset/section1img.png') }}" alt="Description de l'image" class="img-fluid">

    <h1>Présentation du garage</h1> 
  </div>
    
        {% endblock %}    
  