{% extends "base.html.twig" %}


{% block title %}VParrot
{% endblock %}

{% block body %}
<div class="container">
    <!-- Content -->
    <!-- Description -->
  <div class="row text-center mt-4">
    <h1>Nos occasions</h1> 
    <p>Plus de 2000 voitures en stocks, révisées et garanties.
        Choisissez parmi tous nos modèles.
    </p>  
  </div>
    <!-- End Description -->

    <!-- Occasions list -->
  <div class="row mt-4">
      
        <!-- Title -->
      <div class="row d-flex row text-center mb-5">
        <h2>Nos services</h2> 
      </div>

      <!-- Cards -->
      
    <div class="container-sm ">  
        <div class="row ">
            <div class="col-sm col-md-6 col-lg-4">
                <!-- voiture 1 -->
                <div class="card mx-2 mb-5">
                    <img src="{{ asset('asset/voiture1.jpg') }}"  class="card-img-top" alt="Voiture d'occasion">
                    <div class="card-body">
                        <h5 class="card-title">Peaugeot 208</h5>
                        <p class="card-text text-uppercase">essence</p>
                        <p class="card-text">ANNEE : 2020</p>
                        <p class="card-text">42800 km</p>
                        <p class="card-text fw-bold">25000€</p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center">Détail</a>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4">
                <!-- voiture 2 -->
                <div class="card mx-2 mb-5">
                    <img src="{{ asset('asset/voiture1.jpg') }}"  class="card-img-top" alt="Voiture d'occasion">
                    <div class="card-body">
                        <h5 class="card-title">Peaugeot 208</h5>
                        <p class="card-text text-uppercase">essence</p>
                        <p class="card-text">ANNEE : 2020</p>
                        <p class="card-text">42800 km</p>
                        <p class="card-text fw-bold">25000€</p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center">Détail</a>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4">
                <!-- voiture 3 -->
                <div class="card mx-2 mb-5">
                    <img src="{{ asset('asset/voiture1.jpg') }}"  class="card-img-top" alt="Voiture d'occasion">
                    <div class="card-body">
                        <h5 class="card-title">Peaugeot 208</h5>
                        <p class="card-text text-uppercase">essence</p>
                        <p class="card-text">ANNEE : 2020</p>
                        <p class="card-text">42800 km</p>
                        <p class="card-text fw-bold">25000€</p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center">Détail</a>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4">
                <!-- voiture 4 -->
                <div class="card mx-2 mb-5">
                    <img src="{{ asset('asset/voiture1.jpg') }}"  class="card-img-top" alt="Voiture d'occasion">
                    <div class="card-body">
                        <h5 class="card-title">Peaugeot 208</h5>
                        <p class="card-text text-uppercase">essence</p>
                        <p class="card-text">ANNEE : 2020</p>
                        <p class="card-text">42800 km</p>
                        <p class="card-text fw-bold">25000€</p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center">Détail</a>
                    </div>
                </div>
            </div>
      
        </div>  
    </div>
       


      <!-- End Cards -->



    


</section>




        {% endblock %}    
  